.background {
  background-image: url('/img/bg/planete_bleue.jpg'); // Ensure the image is in the public/img/bg/ directory
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.background > .MuiContainer-root {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.background > .MuiContainer-root > .MuiTypography-root {
  margin-bottom: 1rem;
  color: #333; 
  text-align: center;
}